<!DOCTYPE html>
<head>
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="shortcut icon" href="/theme/static/img/favicon.ico" />
  <link rel="stylesheet" href="/theme/vendor/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/theme/css/site.css" type="text/css" />
</head>
<body class="{{ active_page }}" style="overflow-y: scroll;">
  {% include 'top_menu.html' %}

  {% if content_layout == "column" %}
  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        {% block page_table_of_contents %}
        {% endblock %}
      </div>
      <div class="col-md-9 col-sm-9" role="main" style="overflow-x:auto; padding-bottom: 10px;">
  {% endif %}
        {% block page_content %}
        {% endblock %}
  {% if content_layout == "column" %}
      </div>
    </div>
  </div>
  {% endif %}

  <script src="/theme/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
